<?xml version="1.0" encoding="utf-8"?>

<!-- Para obter mais informações sobre o uso da transformação do web.config, acesse http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">


  <connectionStrings>
    <add name="conn_chamadosti" connectionString="Server=localhost;userid='root';password='';Database=anamnese;Pooling='false'" providerName="MySql.Data.MySqlClient"/>
    <!--<add name="conn_anamnese" connectionString="Server=172.16.60.22;userid='cti';password='chamate';Database=anamnese" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="conn_anamnese" connectionString="Server=dbsrv-prd5.curitiba.pr.gov.br;userid='anamnese';password='z4#vdXg';Database=anamnese" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
  <system.web>
    
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    
  </system.web>
</configuration>